.img{
    height:70%;
    width:30%;
    
}
.curser1:hover{
    text-decoration: underline;
    font-weight: bold;
    font-size: large;
    color:white
}

.curser2:hover{
    text-decoration: underline;
    font-weight: bold;
    font-size: large;
    color:white
}

.curser3:hover{
    text-decoration: underline;
    font-weight: bold;
    font-size: large;
    color:white
}

.curser4:hover{
    text-decoration: underline;
    font-weight: bold;
    font-size: large;
    color:white
}

.curser5:hover{
    text-decoration: underline;
    font-weight: bold;
    font-size: large;
    color:white
}

